{% extends '_base.html' %}

{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
    <link rel="stylesheet" type="text/css" href="{% static 'static/css/styles.css' %}">
    {% block title %}
    Django Calendar App
    {% endblock title %}
</head>

<body>


{% block container %}
<div class="clearfix">
    <a class="btn btn-info left" href="{% url 'calendar_app:calendar' %}?{{ prev_month }}"> Previous Month </a>
    <a class="btn btn-info right" href="{% url 'calendar_app:calendar' %}?{{ next_month }}"> Next Month </a>
    <a class="btn btn-info right" href="{% url 'calendar_app:event_new' %}"> Add Availability  </a>
</div>
{{ calendar }}

{% endblock container %}