{% extends '_base.html' %}

{% block title %}Calendar List{% endblock title %}

{% block content %}
<h1>calendar List</h1>

<table class="table table-bordered text-center">
    <thead class="thead-dark">
        <tr class="row">
            <th class="col-3">Availability</th>
            <th class="col-3">Hospital</th>
            <th class="col-2">Start Time</th>
            <th class="col-2">End Time</th>
            <th class="col-2">Update Availability</th>

        </tr>
    </thead>
    <tbody>
        {% for event in event_list %}
            {% if "Booked" in event.availability %}
                <tr class="table-success row">
                    <th class="col-3"><a href="{{ event.get_absolute_url }}">{{event.availability}}</a></th>
                    <th class="col-3">{{event.hospital}}</th>
                    <th class="col-2">{{event.start_time}}</th>
                    <th class="col-2">{{event.end_time}}</th>
                    <th class="col-2"><a href="#">Request Cancel</a></th>
                </tr>
            {% else %}
                <tr class="table-bordered row">
                    <th class="col-3"><a href="{{ event.get_absolute_url }}">{{event.availability}}</a></th>
                    <th class="col-3">{{event.hospital}}</th>
                    <th class="col-2">{{event.start_time}}</th>
                    <th class="col-2">{{event.end_time}}</th>
                    <th class="col-2"><a href="{{ event.get_absolute_url_edit }}">Update</a></th>
                </tr>
            {% endif %}
    </tbody>
        {% endfor %}
{% endblock content %}