{% extends '_base.html' %}

{% block title %}All Shift{% endblock title %}

{% block content%}
<h1>Shift List</h1>

<table class="table table-bordered text-center">
    <thead class="thead-dark">
        <tr class="row">
            <th class="col-5">Hospital</th>
            <th class="col-3">Start Time</th>
            <th class="col-3">End Time</th>
            <th class="col-1">Book</th>
        </tr>
    </thead>

{% for shift in shift_list %}

    <tr class="table-bordered row">
        <th class="col-5">{{ shift.hospital }}</th>
        <th class="col-3">{{shift.start_time}}</th>
        <th class="col-3">{{shift.end_time}}</th>
        <th class="col-1"><a href="#"">Book</a></th>
    </tr>

{% endfor %}
{% endblock content %}